__pycache__
data/kickstarter_proc.csv
.idea
venvgit
uci_data
data_preprocessing/raw_data
model_selection/xgb_test.py
evaluation/all_features_rf.joblib
evaluation/all_features_xgb.joblib
*.joblib
symptoms_extraction/baselines/ad.csv
symptoms_extraction/baselines/nursery.csv
symptoms_extraction/baselines/placement.csv
symptoms_extraction/baselines/us.csv
symptoms_extraction/baselines/vaccine.csv
.ipynb_checkpoints
data_preprocessing
.DS_STORE

.Rproj.user
.RData
.Rhistory

replication_package/rq4/data
replication_package/symptoms_extraction/baselines

